{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Add New Maintenance Record</h2>
    <form action="{{ url_for('add_record') }}" method="post">  <!-- Make sure this points to the correct Flask route that handles form submission -->
        <div class="row">
            <div class="input-field col s12">
                <input id="reg_no" type="text" class="validate" required>
                <label for="reg_no">Registration Number</label>
            </div>
            <div class="input-field col s12">
                <!-- Dropdown for selecting garage -->
                <select id="garage_name" name="garage_name" class="validate" required>
                    <option value="" disabled selected>Choose your garage</option>
                    {% for garage in garages %}
                    <option value="{{ garage.garage_name }}">{{ garage.garage_name }}</option>
                    {% endfor %}
                </select>
                <label for="garage_name">Garage / Service Center</label>
            </div>
            <div class="input-field col s6">
                <input type="date" id="service_date" name="service_date" class="validate" required>
                <label for="service_date">Service Date</label>
            </div>
            <div class="input-field col s6">
                <input id="odometer_reading" type="number" name="odometer_reading" class="validate" required>
                <label for="odometer_reading">Odometer Reading (Km)</label>
            </div>
            <div class="input-field col s6">
                <input id="cost" type="number" name="cost" class="validate" required>
                <label for="cost">Service Cost (No currency symbol)</label>
            </div>
            <div class="input-field col s6">
                <label>
                    <input type="checkbox" name="invoice_paid" />
                    <span>Invoice Paid</span>
                </label>
            </div>
            <div class="input-field col s12">
                <textarea id="service_desc" name="service_desc" class="materialize-textarea" required></textarea>
                <label for="service_desc">Service Work - Summary</label>
            </div>
            <div class="input-field col s12">
                <a href="{{ url_for('add_garage') }}" class="btn waves-effect waves-light">Add New Garage</a>
                <button type="submit" class="btn waves-effect waves-light right">Submit Record</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
