{% extends "base.html" %}
    {% block content %}
        <h3 class="teal-text text-darken-4 center-align text-shadow">Service Record</h3>
        
        <div class="row">
            <div class="col s12 m12 l6 offset-l3">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card-panel grey lighten-5 detailed_info_card">
                            <h5 class="teal-text"><i class="fas fa-bars teal-text prefix"></i> Record Info</h5>
                            <p> <strong class="teal-text text-darken-2">User ID </strong>{{ record.username }}</p>
                            <p><strong class="teal-text text-darken-2">Date </strong> {{ record.service_date }}</p>
                            <p><strong class="teal-text text-darken-2">Cost </strong> € {{ record.service_cost }}</p>
                            {% if record.service_paid == "yes" %}
                                <p><strong class="teal-text text-darken-2">Service Paid </strong></p>
                            {% else %}
                                <p><strong class="red-text text-darken-2">Service Unpaid </strong></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card-panel grey lighten-5 detailed_info_card">
                            <h5 class="teal-text"><i class="fas fa-car teal-text prefix"></i> Car</h5>
                            <p> {{ record.car_make }} {{ record.car_model }}</p>
                            <p>{{ record.reg_no }}</p>
                            <p>{{ record.odometer_reading }} <strong class="teal-text text-darken-2">Km</strong></p>

                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card-panel grey lighten-5 detailed_info_card">
                            <h5 class="teal-text"><i class="fas fa-warehouse teal-text prefix"></i> Garage</h5>
                            <p> {{ record.garage_name }}</p>
                            <p>{{ record.garage_contact }}</p>
                            <p>{{ record.garage_phone }}</p>
                        </div>
                        </div>
                    </div>
                    <div class="row detailed_info_row">
                        <div class="col s12 s12">
                            <div class="card-panel grey lighten-5 detailed_info_card">
                                <h5 class="teal-text"><i class="fas fa-info teal-text"></i> Service Info</h5>
                                <p>
                                    {{ record.service_desc }}
                                </p>
                                <h6 class="teal-text"><i class="fas fa-list teal-text"></i> Service Items</h6>
                                <ol>
                                    {% if record.service_items|length >= 1 %}
                                        {% for item in record.service_items %}
                                            {% if item|length >= 1 %}
                                                <li>{{ item }}</li>
                                            {% else %}
                                                <p>No details provided</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                            <p>No details provided</p>
                                    {% endif %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col s4 m4 center-align">
                                <a href="{{ url_for('tracker') }}" class="btn teal darken-2 btn-rounded detailed_record_button">Return</a>
                            </div>
                            <div class="col s4 m4 center-align">
                                <a href="{{ url_for('edit_record', record_id=record._id) }}" class="waves-effect teal darken-2 waves-light btn detailed_record_button">Edit</a>
                            </div>
                            <div class="col s4 m4 center-align">
                                <button data-target="modal1" class="btn modal-trigger detailed_record_button red red_buttom">Delete</button>
                            </div>
                    </div>
                    <!-- Confirm deletion modal -->
                    <div id="modal1" class="modal">
                        <div class="modal-content center-align">
                        <h4 class="teal-text text-darken-4 text-shadow">Confirm Deletion</h4>
                        <p>Are you sure you want to delete the record?</p>
                          <a href="#!" class="modal-close btn red confirmation_red_buttom">No</a>
                        <a href="{{ url_for('delete_record', record_id=record._id) }}" class="modal-close btn green teal darken-2">Yes</a>
                    </div>
                    </div>
                </div>
    {% endblock %}